.welcome-section {
    background: #fff;
    padding: 40px 0;
    font-family: sans-serif;
}

.welcome-container {
    max-width: 1400px;
    margin: auto;
    display: block;
}

.welcome-tag {
    font-size: 12px;
    color: #444;
    margin-bottom: 5px;
    margin-top: 0;
}

.welcome-title {
    font-size: 25px;
    font-weight: 700;
    color: #1e5292;
    margin-bottom: 10px;
    margin-top: 0;
    text-transform: uppercase;
}

.title-underline {
    width: 25px;
    height: 4px;
    background: #ffa726;
    margin-bottom: 25px;
}

.welcome-text {
    font-size: 14px;
    color: #555;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 0;
    padding-left: 10px;
}

@media (max-width: 768px) {
    .welcome-text,
    .welcome-title,
    .welcome-tag {
        text-align: center;
    }

    .title-underline {
        margin-left: auto;
        margin-right: auto;
    }
}